<%-
content_for :stylesheets, stylesheet_link_tag("application/capefish")
content_for :javascripts, javascript_include_tag("jquery", "jquery.livequery", "jquery.lowpro", "jquery.overlay", "capefish.editor", :cache => true)
-%>

<h1>Site Overview</h1>

<ul>
	<%= render :partial => "page", :collection => @pages %>
</ul>

<input type="button" value="New Page" id="capefish_new_page">