<div class="columns">
	<div class="left">
		<%= markdown(@page.left_column_content) %>
		<%#= markdown(@page.content) %>
	</div>

	<div class="right">
		<%= markdown(@page.right_column_content) %>
	</div>
</div>
<div class="clear"></div>