<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= (@page && @page.title) || @title || controller.class.site_title %></title>
	<meta name="generator" content="Capefish http://capefish.org/">
	<meta name="author" content="Rob Rix">
	
	<%= yield(:stylesheets) %>
	<%= yield(:javascripts) %>
</head>
<body>

<%= yield %>

</body>
</html>
